body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f6f9;
    color: #333;
}

header {
    background: linear-gradient(135deg, #4b79a1, #283e51);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #4b79a1;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

footer {
    background-color: #4b79a1;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* листы */

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding-left: 4ch;
}
li::before {
    content: "✔️";
    margin-right: 8px;
    color: green;
}

img {
    max-width: 450px;
    margin-left: 200px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    padding: 4px 0; /* Отступы между элементами */
    margin-left: 20px;
}
input[type="checkbox"] {
    margin-right: 8px; /* Отступ между чекбоксом и текстом */
}